body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.helo {
    color: brown; 
}
h1{
    font-size:50px;
}
#oll {
    color: #10c942;
}
p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
#name{
color: #46916a;}
.first{
    font-family: Bebas Neue;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 80px;

color: #363958;
    }

.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 3%;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;

    color: #363958;
    }
.half-width img {
    width: 74%;
}

